extends base.pug
include mixins/video
include mixins/music

block content 
        h3 welcome you will see trending video

        ul 
        each potato in videos
             +video(potato)
        else 
                li 죄송합니다. 데이터를 불러올 수 없습니다.

 
        